.bug-filter {
    width: 100%;
    padding: 1rem;

    background-color: var(--clr2bg);

    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-weight: bold;
}

.bug-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
}

.bug-filter input {
    width: 200px;
}

.bug-filter .filter-inputs {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.bug-filter .labels-inputs {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.bug-filter .labels-inputs input {
    /* display: none; */
    width: max-content;
}

.bug-filter .labels-inputs label {
    padding: 0.5rem;
    border-radius: 0.5rem;

    background-color: #fff;
}

/* .labels-inputs .labels-inputs label:has(:checked) {
    background-color: black;
} */

.bug-filter .paging {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    font-weight: bold;
}

.bug-filter .paging button {
    padding: 0.5rem;
    border-radius: 0.5rem;

    background-color: #fff;
}